@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    background-color: #d5e1ef;
}

.container {
    width: 320px;
    height: 500px;
    margin: 100px auto 10px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.container img {
    max-width: 290px;
    padding: 15px;
    background-color: transparent;
    border-radius: 25px;
    
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0px 20px;
    background-color: transparent;
    font-size: 20px;
}

.container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0px 20px;
    background-color: transparent;
    color: grey;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}